## Ejercicio 1
Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

In [11]:
import pandas as pd

inicio = int(input('Introduce el año inicial: '))
fin = int(input('Introduce el año final: '))
ventas = {}
for i in range(inicio, fin+1):
    ventas[i] = float(input('Introduce las ventas del año ' + str(i) +': '))
ventas = pd.Series(ventas)
print('Ventas\n', ventas)
print('Ventas con descuento\n', ventas*0.9)

Ventas
 2020    15.0
2021    62.0
2022    78.0
2023    98.0
2024    15.0
dtype: float64
Ventas con descuento
 2020    13.5
2021    55.8
2022    70.2
2023    88.2
2024    13.5
dtype: float64

## Ejercicio 2
Escribir una función que reciba un diccionario con las notas de los alumno de un curso y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [16]:
import pandas as pd
import numpy as np

al_notas = {
    'alumno1':10,
    'alumno2':5,
    'alumno3':8,
    'alumno4':2,
    'alumno5':6
}
values = []
for i in al_notas:
    values.append(al_notas[i])
val = [max(values), min(values), np.mean(values), np.std(values)]
val = pd.Series(val)

print(val)

0    10.000000
1     2.000000
2     6.200000
3     2.712932
dtype: float64

## Ejercicio 3
Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [19]:
import pandas as pd

al_notas = {
    'alumno1':10,
    'alumno2':5,
    'alumno3':8,
    'alumno4':2,
    'alumno5':6
}
values = []
for i in al_notas:
    values.append(al_notas[i])

val = pd.Series(sorted(values))
print(val)

0     2
1     5
2     6
3     8
4    10
dtype: int64

## Ejercicio 4
Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

In [20]:
import pandas as pd

registros = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}
tabla = pd.DataFrame(registros)
print(tabla)

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

## Ejercicio 5
Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [22]:
import pandas as pd

registro = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}

tabla = pd.DataFrame(registro)

def balance(contabilidad, meses):
    contabilidad['Balance'] = contabilidad.Ventas - contabilidad.Gastos
    return contabilidad.set_index('Mes').loc[meses,'Balance'].sum()

print(balance(tabla, ['Enero','Marzo']))

18700

## Ejercicio 6
El fichero cotizacion.csv contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas: nombre (nombre de la empresa), Final (precio de la acción al cierre de bolsa), Máximo (precio máximo de la acción durante la jornada), Mínimo (precio mínimo de la acción durante la jornada), volumen (Volumen al cierre de bolsa), Efectivo (capitalización al cierre en miles de euros). Construir una función que construya un DataFrame a partir del un fichero con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

In [3]:
import pandas as pd

# Leer el archivo CSV
df = pd.read_csv('cotizacion.csv')
resumen = {
    'Mínimo': df.min(),
    'Máximo': df.max(),
    'Media': df.mean()
    }
df_resumen = pd.DataFrame(resumen)

# Ejemplo de uso
print(df_resumen)

                                             Mínimo  Máximo    Media
Nombre;Final;Máximo;Mínimo;Volumen;Efectivo     5.0    93.0  45.0625

## Ejercicio 7
El fichero titanic.csv contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:

1) Generar un DataFrame con los datos del fichero.
2) Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas
3) Mostrar por pantalla los datos del pasajero con identificador 148.
4) Mostrar por pantalla las filas pares del DataFrame.
5) Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
6) Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
7) Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
8) Eliminar del DataFrame los pasajeros con edad desconocida.
9) Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
10) Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
11) Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [34]:
import pandas as pd

df = pd.read_csv('titanic.csv')

dimensiones = {
    'Dimensiones':df.shape,
    'CantDatos':df.size,
    'NomCol':df.columns.values,
    'TipoDato':df.dtypes.tolist(),
    'PrimFilas':df.head(10),
    'UltiFilas':df.tail(10)
    }

print(f"Dimensiones: {dimensiones['Dimensiones']}")
print('------------------------------------------------------')
print(f"Cant. Datos: {dimensiones['CantDatos']}")
print('------------------------------------------------------')
print(f"Nombre Columnas: {dimensiones['NomCol']}")
print('------------------------------------------------------')
print(f"Primeras 10 filas: \n {dimensiones['PrimFilas']}")
print('------------------------------------------------------')
print(f"Últimas 10 filas: \n{dimensiones['UltiFilas']}")

Dimensiones: (891, 12)
------------------------------------------------------
Cant. Datos: 10692
------------------------------------------------------
Nombre Columnas: ['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']
------------------------------------------------------
Primeras 10 filas:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
------------------------------------------------------
Últimas 10 filas:
     PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

## Ejercicio 8
Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv, contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los años 2016, 2017, 2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:

1) Generar un DataFrame con los datos de los cuatro ficheros.
1) Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO, MES y las correspondientes a los días D01, D02, etc.
1) Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días aparezcan en una única columna.
1) Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo datetime).
1) Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el DataFrame por estaciones contaminantes y fecha.
1) Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.
1) Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estación y rango de fechas dado.
1) Mostrar un resumen descriptivo (mínimo, máximo, media, etc.) para cada contaminante.
1) Mostrar un resumen descriptivo para cada contaminante por distritos.
1) Crear una función que reciba una estación y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estación indicada.
1) Crear una función que devuelva las emisiones medias mensuales de un contaminante y un año dados para todos las estaciones.
1) Crear un función que reciba una estación de medición y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.

In [41]:
import pandas as pd

df_2016 = pd.read_csv('emisiones-2016.csv')
df_2017 = pd.read_csv('emisiones-2017.csv')
df_2018 = pd.read_csv('emisiones-2018.csv')
df_2019 = pd.read_csv('emisiones-2019.csv')

# 1
df_emisiones = pd.concat([df_2016,df_2017,df_2018,df_2019])

# 2

print(df_emisiones['PROVINCIA;MUNICIPIO;ESTACION;MAGNITUD;PUNTO_MUESTREO;ANO;MES;D01;D02;'])

KeyError: 'PROVINCIA;MUNICIPIO;ESTACION;MAGNITUD;PUNTO_MUESTREO;ANO;MES;D01;D02;'