## Ejercicio 1
Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

In [11]:
import pandas as pd

inicio = int(input('Introduce el año inicial: '))
fin = int(input('Introduce el año final: '))
ventas = {}
for i in range(inicio, fin+1):
    ventas[i] = float(input('Introduce las ventas del año ' + str(i) +': '))
ventas = pd.Series(ventas)
print('Ventas\n', ventas)
print('Ventas con descuento\n', ventas*0.9)

Ventas
 2020    15.0
2021    62.0
2022    78.0
2023    98.0
2024    15.0
dtype: float64
Ventas con descuento
 2020    13.5
2021    55.8
2022    70.2
2023    88.2
2024    13.5
dtype: float64

## Ejercicio 2
Escribir una función que reciba un diccionario con las notas de los alumno de un curso y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [16]:
import pandas as pd
import numpy as np

al_notas = {
    'alumno1':10,
    'alumno2':5,
    'alumno3':8,
    'alumno4':2,
    'alumno5':6
}
values = []
for i in al_notas:
    values.append(al_notas[i])
val = [max(values), min(values), np.mean(values), np.std(values)]
val = pd.Series(val)

print(val)

0    10.000000
1     2.000000
2     6.200000
3     2.712932
dtype: float64

## Ejercicio 3
Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [19]:
import pandas as pd

al_notas = {
    'alumno1':10,
    'alumno2':5,
    'alumno3':8,
    'alumno4':2,
    'alumno5':6
}
values = []
for i in al_notas:
    values.append(al_notas[i])

val = pd.Series(sorted(values))
print(val)

0     2
1     5
2     6
3     8
4    10
dtype: int64

## Ejercicio 4
Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

In [20]:
import pandas as pd

registros = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}
tabla = pd.DataFrame(registros)
print(tabla)

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

## Ejercicio 5
Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [22]:
import pandas as pd

registro = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}

tabla = pd.DataFrame(registro)

def balance(contabilidad, meses):
    contabilidad['Balance'] = contabilidad.Ventas - contabilidad.Gastos
    return contabilidad.set_index('Mes').loc[meses,'Balance'].sum()

print(balance(tabla, ['Enero','Marzo']))

18700

## Ejercicio 6
El fichero cotizacion.csv contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas: nombre (nombre de la empresa), Final (precio de la acción al cierre de bolsa), Máximo (precio máximo de la acción durante la jornada), Mínimo (precio mínimo de la acción durante la jornada), volumen (Volumen al cierre de bolsa), Efectivo (capitalización al cierre en miles de euros). Construir una función que construya un DataFrame a partir del un fichero con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

In [3]:
import pandas as pd

# Leer el archivo CSV
emisiones = pd.read_csv('cotizacion.csv')
resumen = {
    'Mínimo': emisiones.min(),
    'Máximo': emisiones.max(),
    'Media': emisiones.mean()
    }
df_resumen = pd.DataFrame(resumen)

# Ejemplo de uso
print(df_resumen)

                                             Mínimo  Máximo    Media
Nombre;Final;Máximo;Mínimo;Volumen;Efectivo     5.0    93.0  45.0625

## Ejercicio 7
El fichero titanic.csv contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:

1) Generar un DataFrame con los datos del fichero.
2) Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas
3) Mostrar por pantalla los datos del pasajero con identificador 148.
4) Mostrar por pantalla las filas pares del DataFrame.
5) Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
6) Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
7) Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
8) Eliminar del DataFrame los pasajeros con edad desconocida.
9) Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
10) Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
11) Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [56]:
import pandas as pd

emisiones = pd.read_csv('titanic.csv')

# 1
dimensiones = {
    'Dimensiones':emisiones.shape,
    'CantDatos':emisiones.size,
    'NomCol':emisiones.columns.values,
    'TipoDato':emisiones.dtypes.tolist(),
    'PrimFilas':emisiones.head(10),
    'UltiFilas':emisiones.tail(10)
    }
#2
print(f"Dimensiones: {dimensiones['Dimensiones']}")
print('------------------------------------------------------')
print(f"Cant. Datos: {dimensiones['CantDatos']}")
print('------------------------------------------------------')
print(f"Nombre Columnas: {dimensiones['NomCol']}")
print('------------------------------------------------------')
print(f"Tipo de Datos: {dimensiones['TipoDato']}")
print('------------------------------------------------------')
print(f"Primeras 10 filas: \n {dimensiones['PrimFilas']}")
print('------------------------------------------------------')
print(f"Últimas 10 filas: \n{dimensiones['UltiFilas']}")

#3
print(emisiones.iloc[147])
print('------------------------------------------------------')

#4
print(emisiones.columns[::2])
print('------------------------------------------------------')

#5
primera_clase = emisiones[emisiones['Pclass'] == 3]
print(primera_clase['Name'].sort_values())
print('------------------------------------------------------')

#6
sobrevivieron = 0
for i in emisiones['Survived']:
    if i > 0:
        sobrevivieron += 1
tot_pass = len(emisiones)
porc_sobr = (sobrevivieron / tot_pass) * 100
porc_muri = 100 - porc_sobr
print(f"Sobrevivio el {porc_sobr} | Murió el {porc_muri}")
print('------------------------------------------------------')

#7
sobrevivieron_por_clase = emisiones.groupby('Pclass')['Survived'].mean() * 100
print("\nPorcentaje de personas que sobrevivieron en cada clase:")
print(sobrevivieron_por_clase)
print('------------------------------------------------------')

#8
emisiones = emisiones.dropna(subset=['Age'])
print(emisiones)
print('------------------------------------------------------')

#9
muje = emisiones[emisiones['Sex']=='female']
cant_muje_clas = muje.groupby('Pclass')['Age'].mean()
print(cant_muje_clas)
print('------------------------------------------------------')

#10
def es_menor_de_edad(edad):
    return edad < 18
emisiones['Minor'] = emisiones['Age'].apply(es_menor_de_edad)
print(emisiones)
print('------------------------------------------------------')

#11
coso = emisiones.groupby(['Pclass', 'Minor'])['Survived'].mean() * 100
print(coso)

Dimensiones: (891, 12)
------------------------------------------------------
Cant. Datos: 10692
------------------------------------------------------
Nombre Columnas: ['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']
------------------------------------------------------
Tipo de Datos: [dtype('int64'), dtype('int64'), dtype('int64'), dtype('O'), dtype('O'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('O'), dtype('float64'), dtype('O'), dtype('O')]
------------------------------------------------------
Primeras 10 filas:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
------------------------------------------------------
Últimas 10 filas:
     PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q
PassengerId                                 148
Survived                                      0
Pclass                                        3
Name           Ford, Miss. Robina Maggie "Ruby"
Sex                                      female
Age                                         9.0
SibSp                                         2
Parch                                         2
Ticket                               W./C. 6608
Fare                                     34.375
Cabin                                       NaN
Embarked                                      S
Name: 147, dtype: object
------------------------------------------------------
Index(['PassengerId', 'Pclass', 'Sex', 'SibSp', 'Ticket', 'Cabin'], dtype='object')
------------------------------------------------------
845                             Abbing, Mr. Anthony
746                     Abbott, Mr. Rossmore Edward
279                Abbott, Mrs. Stanton (Rosa Hunt)
365                  Adahl, Mr. Mauritz Nils Martin
401                                 Adams, Mr. John
                           ...
559    de Messemaeker, Mrs. Guillaume Joseph (Emma)
286                         de Mulder, Mr. Theodore
282                       de Pelsmaeker, Mr. Alfons
153                 van Billiard, Mr. Austin Blyler
868                     van Melkebeke, Mr. Philemon
Name: Name, Length: 491, dtype: object
------------------------------------------------------
Sobrevivio el 38.38383838383838 | Murió el 61.61616161616162
------------------------------------------------------

Porcentaje de personas que sobrevivieron en cada clase:
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64
------------------------------------------------------
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
885          886         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
885      5            382652  29.1250   NaN        Q
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[714 rows x 12 columns]
------------------------------------------------------
Pclass
1    34.611765
2    28.722973
3    21.750000
Name: Age, dtype: float64
------------------------------------------------------
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
885          886         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked  Minor
0        0         A/5 21171   7.2500   NaN        S  False
1        0          PC 17599  71.2833   C85        C  False
2        0  STON/O2. 3101282   7.9250   NaN        S  False
3        0            113803  53.1000  C123        S  False
4        0            373450   8.0500   NaN        S  False
..     ...               ...      ...   ...      ...    ...
885      5            382652  29.1250   NaN        Q  False
886      0            211536  13.0000   NaN        S  False
887      0            112053  30.0000   B42        S  False
889      0            111369  30.0000  C148        C  False
890      0            370376   7.7500   NaN        Q  False

[714 rows x 13 columns]
------------------------------------------------------
Pclass  Minor
1       False    63.793103
        True     91.666667
2       False    41.333333
        True     91.304348
3       False    20.216606
        True     37.179487
Name: Survived, dtype: float64

## Ejercicio 8
Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv, contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los años 2016, 2017, 2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:

1) Generar un DataFrame con los datos de los cuatro ficheros.
1) Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO, MES y las correspondientes a los días D01, D02, etc.
1) Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días aparezcan en una única columna.
1) Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo datetime).
1) Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el DataFrame por estaciones contaminantes y fecha.
1) Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.
1) Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estación y rango de fechas dado.
1) Mostrar un resumen descriptivo (mínimo, máximo, media, etc.) para cada contaminante.
1) Mostrar un resumen descriptivo para cada contaminante por distritos.
1) Crear una función que reciba una estación y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estación indicada.
1) Crear una función que devuelva las emisiones medias mensuales de un contaminante y un año dados para todos las estaciones.
1) Crear un función que reciba una estación de medición y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.

In [13]:
import pandas as pd
import numpy as np
import datetime as dt
archivos = ['emisiones-2016.csv', 'emisiones-2017.csv', 'emisiones-2018.csv', 'emisiones-2019.csv']
df_2016 = pd.read_csv(archivos[0], sep=';')
df_2017 = pd.read_csv(archivos[1], sep=';')
df_2018 = pd.read_csv(archivos[2], sep=';')
df_2019 = pd.read_csv(archivos[3], sep=';')

# 1
emisiones = pd.concat([df_2017,df_2018,df_2019])

# 2
columnas = ['ESTACION', 'MAGNITUD', 'ANO', 'MES']
columnas.extend([col for col in emisiones if col.startswith('D')])
emisiones = emisiones[columnas]
emisiones

#3
emisiones = emisiones.melt(id_vars=['ESTACION', 'MAGNITUD', 'ANO', 'MES'], var_name='DIA', value_name='VALOR')
emisiones

#4
emisiones['DIA'] = emisiones.DIA.str.strip('D')
emisiones['FECHA'] = emisiones.ANO.apply(str) + '/' + emisiones.MES.apply(str) + '/' + emisiones.DIA.apply(str)
emisiones['FECHA'] = pd.to_datetime(emisiones.FECHA, format='%Y/%m/%d', errors='coerce')
emisiones

#5

        ESTACION  MAGNITUD   ANO  MES DIA  VALOR      FECHA
0              4         1  2017    1  01    6.0 2017-01-01
1              4         1  2017    2  01    8.0 2017-02-01
2              4         1  2017    3  01    5.0 2017-03-01
3              4         1  2017    4  01    4.0 2017-04-01
4              4         1  2017    5  01    4.0 2017-05-01
...          ...       ...   ...  ...  ..    ...        ...
169069        60        14  2019    8  31   98.0 2019-08-31
169070        60        14  2019    9  31    0.0        NaT
169071        60        14  2019   10  31   47.0 2019-10-31
169072        60        14  2019   11  31    0.0        NaT
169073        60        14  2019   12  31    4.0 2019-12-31

[169074 rows x 7 columns]

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# 1) Generar un DataFrame con los datos de los cuatro ficheros.
files = ['emisiones-2016.csv', 'emisiones-2017.csv', 'emisiones-2018.csv', 'emisiones-2019.csv']
data_frames = [pd.read_csv(file) for file in files]
emisiones = pd.concat(data_frames)

# 2) Filtrar las columnas del DataFrame
columns_to_keep = ['ESTACION', 'MAGNITUD', 'ANO', 'MES'] + [col for col in emisiones.columns if col.startswith('D')]
emisiones = emisiones[columns_to_keep]

# 3) Reestructurar el DataFrame
emisiones = pd.melt(emisiones, id_vars=['ESTACION', 'MAGNITUD', 'ANO', 'MES'], var_name='DIA', value_name='EMISION')

# 4) Añadir una columna con la fecha
emisiones['FECHA'] = emisiones.apply(lambda row: datetime(row['ANO'], row['MES'], int(row['DIA'][1:])), axis=1)

# 5) Eliminar las filas con fechas no válidas y ordenar el DataFrame
emisiones = emisiones[~np.isnan(emisiones['FECHA'].astype(np.int64))]
emisiones = emisiones.sort_values(by=['ESTACION', 'MAGNITUD', 'FECHA'])

# 6) Mostrar por pantalla las estaciones y los contaminantes disponibles
print("Estaciones disponibles:", emisiones['ESTACION'].unique())
print("Contaminantes disponibles:", emisiones['MAGNITUD'].unique())

# 7) Crear una función para filtrar datos por estación, contaminante y rango de fechas
def filter_data(station, pollutant, start_date, end_date):
    return emisiones[(emisiones['ESTACION'] == station) & (emisiones['MAGNITUD'] == pollutant) & (emisiones['FECHA'] >= start_date) & (emisiones['FECHA'] <= end_date)]['EMISION']

# 8) Mostrar un resumen descriptivo para cada contaminante
contaminant_summary = emisiones.groupby('MAGNITUD')['EMISION'].describe()
print(contaminant_summary)

# 9) Mostrar un resumen descriptivo para cada contaminante por estación
district_summary = emisiones.groupby(['ESTACION', 'MAGNITUD'])['EMISION'].describe()
print(district_summary)

# 10) Crear una función para resumen descriptivo por estación y contaminante
def station_pollutant_summary(station, pollutant):
    return emisiones[(emisiones['ESTACION'] == station) & (emisiones['MAGNITUD'] == pollutant)]['EMISION'].describe()

# 11) Crear una función para calcular las emisiones medias mensuales de un contaminante y un año dados
def monthly_average_pollutant(pollutant, year):
    return emisiones[(emisiones['MAGNITUD'] == pollutant) & (emisiones['ANO'] == year)].groupby('MES')['EMISION'].mean()

# 12) Crear una función para calcular las medias mensuales de los distintos tipos de contaminantes en una estación
def monthly_average_by_station(station):
    return emisiones[emisiones['ESTACION'] == station].groupby(['MAGNITUD', 'MES'])['EMISION'].mean().unstack()

# Ejemplo de uso de las funciones:
# filter_data('ESTACION1', 1, datetime(2018, 1, 1), datetime(2018, 12, 31))
# station_pollutant_summary('ESTACION1', 1)
# monthly_average_pollutant(1, 2018)
# monthly_average_by_station('ESTACION1')

KeyError: "None of [Index(['ESTACION', 'MAGNITUD', 'ANO', 'MES'], dtype='object')] are in the [columns]"